.vs/

packages/

TestDataGenerator/bin
TestDataGenerator/obj

TestDataGenerator.BL/bin
TestDataGenerator.BL/obj

TestDataGenerator.BL.Test/bin
TestDataGenerator.BL.Test/obj


TestDataGenerator.Data/bin
TestDataGenerator.Data/obj

TestDataGenerator.Data.Test/bin
TestDataGenerator.Data.Test/obj